# **Chennai Zomato Restaurants DataSet Analysis & Visualization**

![](http://mc.webpcache.epapr.in/discover.php?in=https://www.boomlive.in/h-upload/2021/07/23/1600x960_953470-zomato.jpg)

## Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('dark_background')

## Reading CSV

In [3]:
#df = pd.read_csv('/kaggle/input/chennai-zomato-restaurants-data/Zomato Chennai Listing 2020.csv')
df = pd.read_csv('C:/Users/HP/Downloads/Zomato Chennai Listing/Zomato Chennai Listing 2020.csv')
df.head()

,Zomato URL,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,https://www.zomato.com/chennai/yaa-mohaideen-b...,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,https://www.zomato.com/chennai/sukkubhai-biriy...,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,https://www.zomato.com/chennai/ss-hyderabad-bi...,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,https://www.zomato.com/chennai/kfc-perambur,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,https://www.zomato.com/chennai/tasty-kitchen-p...,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"

In [4]:
df.shape

(12032, 12)

In [5]:
df.columns

Index(['Zomato URL', 'Name of Restaurant', 'Address', 'Location', 'Cuisine',
       'Top Dishes', 'Price for 2', 'Dining Rating', 'Dining Rating Count',
       'Delivery Rating', 'Delivery Rating Count', 'Features'],
      dtype='object')

In [6]:
df = df.drop(['Zomato URL', 'Address', 'Top Dishes', 'Dining Rating Count', 'Delivery Rating Count'], axis = 1)
df.head(10)

,Name of Restaurant,Location,Cuisine,Price for 2,Dining Rating,Delivery Rating,Features
0,Yaa Mohaideen Briyani,Pallavaram,['Biryani'],500.0,4.3,4.3,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...",1000.0,4.4,4.1,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...",500.0,4.3,4.4,"['Home Delivery', 'Indoor Seating']"
3,KFC,Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",500.0,4.0,4.0,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...",450.0,4.2,4.1,"['Home Delivery', 'Indoor Seating']"
5,Dine N Fun,Medavakkam,"['South Indian', ' North Indian', ' Chinese']",450.0,4.1,3.8,"['Home Delivery', 'Indoor Seating']"
6,Bai Veetu Kalyanam,Navallur,['Biryani'],350.0,None,4.3,['Home Delivery']
7,Cafe Arabica,Anna Nagar East,"['Cafe', ' Fast Food']",800.0,4.3,4.3,"['Breakfast', 'Home Delivery', 'Indoor Seating..."
8,Savoury Sea Shell,Anna Nagar East,"['Arabian', ' Chinese', ' North Indian', ' Leb...",1400.0,4.2,4.1,"['Home Delivery', 'Indoor Seating', 'Card Upon..."
9,Sangeetha Veg Restaurant,T. Nagar,"['South Indian', ' North Indian', ' Chinese', ...",800.0,4.4,4.2,"['Breakfast', 'Home Delivery', 'Vegetarian Onl..."

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name of Restaurant  12032 non-null  object
 1   Location            12032 non-null  object
 2   Cuisine             12032 non-null  object
 3   Price for 2         12032 non-null  float64
 4   Dining Rating       12032 non-null  object
 5   Delivery Rating     12032 non-null  object
 6   Features            12032 non-null  object
dtypes: float64(1), object(6)
memory usage: 658.1+ KB

## Dropping Duplicates

In [8]:
df.drop_duplicates(inplace = True)
df.shape

(11986, 7)

## Cleaning Rate Column

In [9]:
df['Dining Rating'].unique()

array(['4.3', '4.4', '4.0', '4.2', '4.1', 'None', '3.9', '4.5', '4.7',
       '3.5', '4.6', '3.6', '3.8', '4.9', '4.8', '3.7', '2.7', '2.9',
       '2.6', '3.0', '3.4', '2.4', '3.3', '2.8', '2.1', '2.0', '2.2',
       '3.2', '2.5', '3.1', '2.3', '1.9', '1.7', '0.3', '1.0'],
      dtype=object)

## Removing "None"  from Rate Column

In [10]:
df['Dining Rating'].replace('None', np.nan, inplace=True)
df['Dining Rating'] = df['Dining Rating'].astype(float)
df['Dining Rating'].dtypes
df['Dining Rating'].head(10)

0    4.3
1    4.4
2    4.3
3    4.0
4    4.2
5    4.1
6    NaN
7    4.3
8    4.2
9    4.4
Name: Dining Rating, dtype: float64

In [11]:
df['Dining Rating'].dtypes

dtype('float64')

In [12]:
#df.head(10)
count = df["Dining Rating"].isna().sum()
#count
percentage_null = (count/len(df["Dining Rating"]))*100
percentage_null

44.27665609878191

In [13]:
df['Dining Rating'].head(10)
medan = df["Dining Rating"].median()
df["Dining Rating"].fillna(medan, inplace = True)
df['Dining Rating'].head(10)

0    4.3
1    4.4
2    4.3
3    4.0
4    4.2
5    4.1
6    3.5
7    4.3
8    4.2
9    4.4
Name: Dining Rating, dtype: float64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11986 entries, 0 to 12031
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name of Restaurant  11986 non-null  object
 1   Location            11986 non-null  object
 2   Cuisine             11986 non-null  object
 3   Price for 2         11986 non-null  float64
 4   Dining Rating       11986 non-null  float64
 5   Delivery Rating     11986 non-null  object
 6   Features            11986 non-null  object
dtypes: float64(2), object(5)
memory usage: 749.1+ KB

## Dropping Null Values

In [15]:
df.dropna(inplace = True)
df.head()

,Name of Restaurant,Location,Cuisine,Price for 2,Dining Rating,Delivery Rating,Features
0,Yaa Mohaideen Briyani,Pallavaram,['Biryani'],500.0,4.3,4.3,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...",1000.0,4.4,4.1,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...",500.0,4.3,4.4,"['Home Delivery', 'Indoor Seating']"
3,KFC,Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",500.0,4.0,4.0,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...",450.0,4.2,4.1,"['Home Delivery', 'Indoor Seating']"

## Price for 2 and Features Column Rename

In [20]:
df.rename(columns = {'Price for 2':'Cost for 2 People','Dining Rating':'Rating', 'Features':'Facilities'}, inplace = True)
df.head()

,Name of Restaurant,Location,Cuisine,Cost for 2 People,Rating,Delivery Rating,Facilities
0,Yaa Mohaideen Briyani,Pallavaram,['Biryani'],500.0,4.3,4.3,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...",1000.0,4.4,4.1,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...",500.0,4.3,4.4,"['Home Delivery', 'Indoor Seating']"
3,KFC,Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",500.0,4.0,4.0,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...",450.0,4.2,4.1,"['Home Delivery', 'Indoor Seating']"

In [21]:
df['Cost for 2 People'] = df['Cost for 2 People'].astype(int)
df.head()

,Name of Restaurant,Location,Cuisine,Cost for 2 People,Rating,Delivery Rating,Facilities
0,Yaa Mohaideen Briyani,Pallavaram,['Biryani'],500,4.3,4.3,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...",1000,4.4,4.1,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...",500,4.3,4.4,"['Home Delivery', 'Indoor Seating']"
3,KFC,Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",500,4.0,4.0,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...",450,4.2,4.1,"['Home Delivery', 'Indoor Seating']"

## Location Column, lets keep it.

In [17]:
df['Location'].unique()

array(['Pallavaram', 'Alandur', 'Kodambakkam', 'Perambur', 'Medavakkam',
       'Navallur', 'Anna Nagar East', 'T. Nagar', 'Velachery',
       'Vadapalani', 'Porur', 'Kilpauk', 'Purasavakkam', 'Ashok Nagar',
       'Chetpet', 'Phoenix Market City, Velachery', 'Aminijikarai',
       'Ramapuram', 'Mylapore', 'Thuraipakkam', 'RA Puram', 'Alwarpet',
       'Mogappair', 'West Mambalam', 'Adyar', 'Nungambakkam',
       'Royapettah', 'Chromepet', 'Kolathur', 'Valasaravakkam', 'Guindy',
       'Potheri', 'Egmore', 'Madipakkam', 'Thiruvanmiyur', 'Saligramam',
       'Sholinganallur', 'Perungudi', 'Besant Nagar', 'Kotturpuram',
       'Semmancheri', 'Royapuram', 'Anna Nagar West',
       'Grand by GRT Hotels', 'Ambattur', 'Thousand Lights',
       'Mayajaal Multiplex, Kanathur', 'Washermenpet', 'Selaiyur',
       'Old Mahabalipuram Road (OMR)', 'The Westin Chennai, Velachery',
       'The Park, Nungambakkam', 'Choolaimedu',
       'New Woodlands Hotel, Mylapore', 'Abhiramapuram', 'Triplicane',
       'Poonamalle', 'Gopalapuram', 'East Coast Road (ECR)',
       'OMR Food Street, Kandanchavadi',
       'Green Meadows Resorts, Palavakkam', 'TNHB Complex, Besant Nagar',
       'Kanathur', 'Neelangarai', 'GST Road', 'MRC Nagar',
       'Hablis Hotel, Guindy', 'Paati Veedu, T.Nagar',
       'The Savera Hotel, RK Salai (Cathedral Road)',
       'Kipling, East Coast Road (ECR)', 'Somerset Greenways',
       'The Spring Hotel, Nungambakkam', 'Mahabalipuram',
       'Hilton Chennai, Guindy', 'GLM Meridian Hotel, T. Nagar',
       'Foodies Kitchen', 'Green Park Hotel, Vadapalani', 'Egatoor',
       'Express Avenue Mall,Royapettah', 'The Raintree, Teynampet',
       'Sathyam Cinemas Complex, Royapettah', 'Shenoy Nagar', 'Citadines',
       "Taj Fisherman's Cove Resort & Spa, Kanchipuram District",
       'Courtyard by Marriott, Teynampet', 'Hotel Rajpark, Alwarpet',
       'St. Thomas Mount', 'ITC Grand Chola, Guindy', 'Akkarai',
       'The Leela Palace, MRC Nagar', 'Adambakkam', 'Ekkaduthangal',
       'Radisson Blu, GST Road', 'Taramani', 'Palavakkam', 'Teynampet',
       'Muttukadu', 'Hyatt Regency, Teynampet', 'Grande Bay Resort',
       'Radisson Blu Temple Bay, Mamallapuram',
       'Holiday Inn Chennai OMR IT Expressway', 'Injambakkam',
       'Hotel Centre Point, Sholinganallur', 'Sowcarpet',
       'Hotel Palmgrove, Nungambakkam', 'Taj Coromandel, Nungambakkam',
       'Avadi', 'Taj Club House, Thousand Lights', 'Tambaram',
       'Pallikaranai', 'Karapakkam', 'OMR Food Street, Guduvancheri',
       'The Accord Metropolitan, T. Nagar', 'The Raintree, Alwarpet',
       'Crowne Plaza Chennai Adyar Park, Alwarpet', 'K.K. Nagar',
       'Harrisons Hotel, Nungambakkam', 'Lemon Tree Hotel, Guindy',
       'Nandanam', 'Vivanta Chennai, IT Expressway, Sholinganallur ',
       'The Residency, T. Nagar', 'Novotel Chennai Sipcot', 'Padur',
       'Kottivakkam', 'Ispahani Centre, Nungambakkam', 'Nanganallur',
       'JP Hotel, Koyambedu', 'Kovalam', 'Novotel Chennai, OMR',
       'Vandalur', 'Feathers, A Radha Hotel',
       'Massbunk Complex, Purasavakkam', 'OMR Food Street, Ambattur',
       'Zone by The Park, Pallikaranai', 'Aloft Chennai, Sholinganallur',
       'Okkiyampet', 'Park Town', 'Benzz Park, T. Nagar',
       'Ramada, Egmore', 'OMR Food Street, Navallur',
       'Ambica Empire, Vadapalani', 'E Hotel, Royapettah',
       'Le Royal Meridien, St. Thomas Mount',
       'Hotel Ranjith, Nungambakkam', 'Trident, GST Road', 'George Town',
       'Ramada Plaza, Guindy', 'Deccan Plaza, Royapettah', 'The Slate',
       'Santhome', 'Four Points by Sheraton, East Coast Road (ECR)',
       'Mahindra World City, Chengalpattu', 'Radisson Blu, Egmore',
       'Vepery', 'Hotel Park Elanza, Nungambakkam',
       'Jaag Hotels, T.Nagar', 'WelcomHotel, RK Salai (Cathedral Road)',
       'Novotel Chennai, Nandanam', 'Forum Vijaya Mall, Vadapalani',
       'Saidapet', 'Hotel Vassi Palaze, Kanchipuram District', 'V7 Hotel',
       'Turyaa Chennai ', 'Dash@OMR, Old Mahabalipuram Road (OMR)',
       'Days Hotel, Old Mahabalipuram Road (OMR)', 'Maduravoyal',
       'IBIS Chennai, OMR', 'Koyambedu', 'Arumbakkam',
       'Ambassador Pallava, Egmore', 'Abu Sarovar Portico, Egmore',
       'Lemon Tree Shimona, Ramapuram', 'Clarion Hotel, Mylapore',
       'Kelambakkam', 'Ambit IT Park, Ambattur', 'Anna Salai',
       'Hotel Maris, Gopalapuram', 'Kanchipuram District',
       ' InterContinental Chennai Mahabalipuram Resort, East...',
       'Mandaveli', 'Ideal Beach Resort, East Coast Road (ECR)',
       'Chariot Beach Resort, East Coast Road (ECR)',
       'VR Mall, Anna Nagar', 'Fortune Select Grand, Chengalpattu',
       'Madhavaram', 'Mamalla Beach Resort, Mahabalipuram ',
       'Hotel Blue Nile, Pallavaram', 'OMR Food Street, Perumbakkam',
       'Kora Food Street, Anna Nagar West', 'Thiruvallur',
       'Hotel Mamallaa Heritage, East Coast Road (ECR)',
       'Gokulam Park Hotel, Ashok Nagar', 'Chengalpattu',
       'Hotel Marina Inn, Egmore', 'Fairfield by Marriot, Chengalpattu',
       'Mercure, Sriperumbudur', 'OMR Food Street,Thuraipakkam',
       'Vestin Park Hotel, Egmore', 'Keys Hotel, Thiruvanmiyur',
       'Gokulam Park Sabari - OMR, Old Mahabalipuram Road ',
       'Virugambakkam', 'Parrys', 'SKLS Galaxy Mall, Redhills',
       'Tiruvottiyur', 'Chennai Food Town, Thuraipakkam',
       'Grand Residence Hotel, Porur', 'Red Hills',
       'BKR Grand Hotel, T. Nagar', 'Hotel Bhimaas, Vadapalani',
       'La Woods Hotel, Thousand Lights', 'Southern Residency Hotel, OMR',
       'OMR Food Street, Injambakkam', 'TNHB Complex, Adyar',
       'Hotel Beverly, Kilpauk', 'Oragadam',
       'Quality Inn Sabari, T. Nagar', 'Ascendas IT Park, Taramani',
       'Ranga Residency, Chengalpattu', "The King's Hotel, Egmore",
       'Spencer Plaza Mall, Thousand Lights', 'Vettuvankeni',
       'Ponnis Grand Inn Hotel, Thiruvallur', 'Hotel SRR Grand, Vandalur',
       'Hotel Poigai, Arumbakkam', 'Saaral Residency, Mogappair',
       'Park Plaza OMR, Thuraipakkam', 'Hotel Fortel, Egmore',
       'Chennai Citi Centre, Mylapore', 'Hotel Sudhara, T. Nagar',
       'Hotel Maurya International, Vadapalani',
       'Hotel Raj Palace, T. Nagar',
       'IBIS Hotel, Old Mahabalipuram Road (OMR)',
       'The Grand Mall, Velachery', 'The Checkers Hotel, Saidapet',
       'Eat And Pack, Ambattur ', 'Nayagara Hotels, Kodambakkam',
       'The Pride Hotel, Kilpauk', 'Golden Sun Resort, Mamallapuram',
       'Jade Resorts, East Coast Road (ECR)', 'Hotel Manhattan, Mylapore',
       'Hotel Vee Yes, Egmore', 'Hotel Blue Diamond, Kilpauk',
       'The Vijay Park Hotel, Arumbakkam',
       'Green Coconut Resort, Kanchipuram District',
       'Hotel Mount Heera, Alandur', 'Hotel Shelter, Mylapore',
       'Ampa Skywalk Mall, Aminijikarai',
       'Hotel Regenta Central RS, Navallur',
       'Hotel Milestonnez, Kanchipuram District',
       'Hotel Royal Regency, Vepery', 'Hotel Chennai Deluxe, Koyambedu',
       'GRT Regency, Kanchipuram ', 'The Hotel Royal Plaza, Koyambedu',
       'Hotel Victoria, Egmore', 'Liberty Park Hotel, Kodambakkam',
       'Meenambakkam', 'Hotel Joyland, Chengalpattu',
       'Spectrum The Grand Venus Mall, Perambur',
       'Hotel Goutham Manor, Nungambakkam',
       'Hotel Anitha Towers, Triplicane',
       'Hotel Sathyam Grand Resort, Kanchipuram District',
       'Hotel Peninsula, T. Nagar', 'Hotel NRS Sakithyan, T. Nagar',
       'Vivira Mall, Navallur', 'DLF IT Park, Ramapuram',
       'RMZ Millenia Business Park, Old Mahabalipuram Road (OMR)',
       'RK Salai (Cathedral Road)', 'Chandra Metro Mall, Virugambakkam'],
      dtype=object)